parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$values of class Datana\\\\Iusta\\\\Api\\\\Domain\\\\Value\\\\CaseGroup\\\\CaseGroup constructor expects array\\{id\\: int, name\\: string, createdAt\\: string, updatedAt\\: string, createdBy\\: int, updatedBy\\: int\\}, array given\\.$#"
			count: 1
			path: src/CaseGroupApi.php

		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\CaseGroupApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/CaseGroupApi.php

		-
			message: "#^Parameter \\#1 \\$values of class Datana\\\\Iusta\\\\Api\\\\Domain\\\\Value\\\\CustomField\\\\CustomField constructor expects array\\{id\\: int, type\\: int, customFieldGroupId\\: int, shortcode\\: string\\|null, metadata\\?\\: string\\|null, name\\: string, description\\?\\: string\\|null, sectionHeading\\?\\: string\\|null, \\.\\.\\.\\}, array given\\.$#"
			count: 1
			path: src/CustomFieldApi.php

		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\CustomFieldApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/CustomFieldApi.php

		-
			message: "#^Parameter \\#1 \\$values of class Datana\\\\Iusta\\\\Api\\\\Domain\\\\Value\\\\Dataset\\\\Dataset constructor expects array\\{createdDataset\\: array\\{id\\: int, name\\: string, createdAt\\: string, updatedAt\\: string, createdBy\\: int, updatedBy\\: int, datasetTypeId\\: int\\}\\}\\|array\\{id\\: int, name\\: string, createdAt\\: string, updatedAt\\: string, createdBy\\: int, updatedBy\\: int, datasetTypeId\\: int\\}, array given\\.$#"
			count: 1
			path: src/DatasetApi.php

		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\DatasetApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/DatasetApi.php

		-
			message: "#^Parameter \\#1 \\$values of class Datana\\\\Iusta\\\\Api\\\\Domain\\\\Value\\\\DatasetType\\\\DatasetType constructor expects array\\{id\\: int, name\\: string, createdAt\\: string, updatedAt\\: string, createdBy\\: int, updatedBy\\: int\\}, array given\\.$#"
			count: 1
			path: src/DatasetTypeApi.php

		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\DatasetTypeApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/DatasetTypeApi.php

		-
			message: "#^Parameter \\#1 \\$values of class Datana\\\\Iusta\\\\Api\\\\Domain\\\\Value\\\\Deadline\\\\Deadline constructor expects array\\{id\\: int\\<1, max\\>, name\\: string, status\\: int, dueAt\\: string, preDueAt\\: string\\|null, comment\\: string\\|null, createdAt\\: string, updatedAt\\: string, \\.\\.\\.\\}, array given\\.$#"
			count: 1
			path: src/DeadlineApi.php

		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\DeadlineApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/DeadlineApi.php

		-
			message: "#^Parameter \\#1 \\$values of class Datana\\\\Iusta\\\\Api\\\\Domain\\\\Value\\\\DeadlineType\\\\DeadlineType constructor expects array\\{id\\: int\\<1, max\\>, name\\: string, prefillReferenceNumberCustomFields\\: array, preselectAssignedUserId\\: int\\<1, max\\>, createdAt\\: string, updatedAt\\: string, createdBy\\: int, updatedBy\\: int\\}, array given\\.$#"
			count: 1
			path: src/DeadlineTypeApi.php

		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\DeadlineTypeApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/DeadlineTypeApi.php

		-
			message: "#^Parameter \\#1 \\$values of class Datana\\\\Iusta\\\\Api\\\\Domain\\\\Value\\\\Document\\\\Document constructor expects array\\{id\\: int, createdAt\\: string, updatedAt\\: string, createdBy\\: int, updatedBy\\: int\\}, array given\\.$#"
			count: 1
			path: src/DocumentApi.php

		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\DocumentApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/DocumentApi.php

		-
			message: "#^Parameter \\#1 \\$values of class Datana\\\\Iusta\\\\Api\\\\Domain\\\\Value\\\\DocumentCategory\\\\DocumentCategory constructor expects array\\{id\\: int, name\\: string, createdAt\\: string, updatedAt\\: string, createdBy\\: int, updatedBy\\: int\\}, array given\\.$#"
			count: 1
			path: src/DocumentCategoryApi.php

		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\DocumentCategoryApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/DocumentCategoryApi.php

		-
			message: "#^Parameter \\#1 \\$values of class Datana\\\\Iusta\\\\Api\\\\Domain\\\\Value\\\\Document\\\\Document constructor expects array\\{id\\: int, createdAt\\: string, updatedAt\\: string, createdBy\\: int, updatedBy\\: int\\}, array given\\.$#"
			count: 1
			path: src/Domain/Value/Document/Documents.php

		-
			message: "#^Parameter \\#1 \\$values of class Datana\\\\Iusta\\\\Api\\\\Domain\\\\Value\\\\Fieldgroup\\\\Fieldgroup constructor expects array\\{id\\: int, name\\: string, shortcode\\: string\\|null, sort\\: int\\|null, referenceId\\?\\: int\\|null, referenceType\\?\\: string\\|null, createdAt\\: string, updatedAt\\: string, \\.\\.\\.\\}, array given\\.$#"
			count: 2
			path: src/FieldgroupApi.php

		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\FieldgroupApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/FieldgroupApi.php

		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\ImportApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/ImportApi.php

