parameters:
	ignoreErrors:
		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\CaseGroupApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/CaseGroupApi.php

		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\DatasetApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/DatasetApi.php

		-
			message: "#^Parameter \\#1 \\$values of class Datana\\\\Iusta\\\\Api\\\\Domain\\\\Value\\\\DatasetType\\\\DatasetType constructor expects array\\{id\\: int, name\\: string, createdAt\\: string, updatedAt\\: string, createdBy\\: int, updatedBy\\: int\\}, array given\\.$#"
			count: 1
			path: src/DatasetTypeApi.php

		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\DatasetTypeApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/DatasetTypeApi.php

		-
			message: "#^Parameter \\#1 \\$values of class Datana\\\\Iusta\\\\Api\\\\Domain\\\\Value\\\\Fieldgroup\\\\Fieldgroup constructor expects array\\{id\\: int, name\\: string, shortcode\\: string\\|null, sort\\: int\\|null, referenceId\\?\\: int\\|null, referenceType\\?\\: string\\|null, createdAt\\: string, updatedAt\\: string, \\.\\.\\.\\}, array given\\.$#"
			count: 1
			path: src/FieldgroupApi.php

		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\FieldgroupApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/FieldgroupApi.php

		-
			message: "#^Property Datana\\\\Iusta\\\\Api\\\\ImportApi\\:\\:\\$logger is never read, only written\\.$#"
			count: 1
			path: src/ImportApi.php

